html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Noto Sans", serif;
}

img {
  border: 0;
}

body,
nav,
section,
header,
main,
footer,
h1,
h2,
p,
ul,
li,
dl,
dt,
dd,
div {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0;
}

/* <!-- ●活動内容ここから --> */
.content {
  background: #fbf0de;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.content-wrapper {
  border-radius: 0px 100px 100px 0px;
  background: #8bb077;
  height: 90%;
  margin: 80px 0 80px 0;
  width: 90%;
  /* animation: fadein-left 1.2s; */
}

.content-wrapper h1 {
  margin-top: 65px;
  margin-bottom: 103px;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 9.6px;
  text-align: center;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  height: auto;
}

.content-item1,
.content-item2,
.content-item3 {
  height: 500px;
  width: 330px;
  margin: 10px;
}

.content-item1 p,
.content-item2 p,
.content-item3 p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  margin-top: 20px;
}

.content-jumpbtn {
  display: block;
  width: 246px;
  height: 75px;
  border: solid 2px #fff;
  margin: 0 auto 66px auto;
  text-align: center;
  line-height: 75px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 580;
}

.content-jumpbtn:hover {
  background-color: #fff;
  color: #8bb077;
  transition: 0.3s;
}

/*ここからgallery*/
.gallery {
  height: auto;
  width: 100%;
  background: #fbf0de;
  padding-bottom: 95px;
}

.gallery h1 {
  text-align: center;
  color: #553116;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 12px;
  padding: 214px 0 92px 0;
}

.gallery-container {
  margin-inline: auto;
  max-width: 100%;
  position: relative;
}
.swiper {
  max-width: 100%;
}
.swiper-slide img {
  height: 300px;
  object-fit: contain;
  width: 100%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 320px !important; /*paginationの位置が、importantを付けないとデザインの位置に動かなかったため*/
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #553116;
  height: 20px;
  width: 20px;
}

.gallery-jumpbtn {
  position: relative;
  z-index: 1;
  display: block;
  width: 250px;
  height: 75px;
  border: solid 2px #553116;
  margin: 120px auto 0 auto;
  text-align: center;
  line-height: 75px;
  color: #553116;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  transition: 0.3s;
}

.gallery-jumpbtn::before {
  content: "";
  width: 250px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #553116;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.gallery-jumpbtn:hover {
  color: #fff;
}
.gallery-jumpbtn:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

@media screen and (max-width: 1250px) {
  .content-wrapper h1 {
    margin: 30px 0 10px 15%;
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 9.6px;
    text-align: left;
  }

  .item-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .content-item1,
  .content-item2,
  .content-item3 {
    display: flex;
    height: auto;
    width: 70%;
    margin: 15px;
    flex-direction: column-reverse;
  }

  .content-item1 img,
  .content-item2 img,
  .content-item3 img {
    border-radius: 5%;
    width: 100%;
    margin: 10px 0 20px 0;
  }

  .content-item1 p,
  .content-item2 p,
  .content-item3 p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    margin-top: 0px;
  }
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}
.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

.fade-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1.5s, transform 1.5s;
}

.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* @keyframes fadein-left {
  
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
   
  }
} */


@media screen and (max-width: 450px) {
  .gallery h1 {
    font-size: 24px;
  }

  .gallery img {
    width: 250px;
    object-fit: contain;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background-color: #553116;
    height: 15px;
    width: 15px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 290px !important; /*paginationの位置が、importantを付けないとデザインの位置に動かなかったため*/
  }
}

@media screen and (max-width: 1000px) {
  .gallery h1 {
    padding: 40px 0 15px 0;
  }

  .gallery-jumpbtn {
    margin-top: 70px;
  }
}

/* <!-- ●活動内容ここまで --> */




/* <!-- 農楽塾の一年ここから --> */

/* Style of Header */

header {
  height: 123px;
  padding: 33px 5% 0 5%;
  background-color: #fbf0de;
  color: #553116;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 302px;
  height: 90px;
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 87px;
  height: 90px;
  margin-right: 30px;
}

.logo_text {
  width: 195px;
  height: 90px;
}

.Japanese_logo {
  margin: 0;
  font-size: 45px;
  font-weight: 130;
  font-family: 'Inter', sans-serif;
  line-height: 54px;
  letter-spacing: 0.3em;
}

.English_logo {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 24.2px;
  letter-spacing: 0.3em;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

header nav ul li a {
  color: #553116;
  text-decoration: none;
}


/* Style of h1 title */

.title {
  height: 168px;
  background-color: #fbf0de;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.3em;
  color: #553116;
}


/* The Common Style in All Seasons */

.season {
  display: flex;
  flex-direction: column;
}

.season h2 {
  height: 205px;
  font-family: 'Koulen', sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 181px;
  letter-spacing: 0.1em;
  color: #ab8a72;
  margin: 0 5%;
  padding: 0;
}

.season_months_wrapper {
  height: auto;
  padding: 0 10% 0 10%;
  position: relative;
}

.month {
  width: 40%;
  position: absolute;
}

.month_name_wrapper {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  border-bottom: solid 1px #553116;
  position: relative;
}

.month_name_wrapper h3 {
  font-size: 40px;
  font-weight: 400;
  color: #553116;
}

.left_month_name_wrapper h3 {
  margin: 0 0 0 15px;
}

.left_month_circle {
  width: 30px;
  height: 30px;
  background-color: #553116;
  border-radius: 50%;
  position: absolute;
  top: 66px;
  right: -15px;
}

.right_month_name_wrapper h3 {
  margin: 0 0 0 40px;
}

.right_month_circle {
  width: 30px;
  height: 30px;
  background-color: #553116;
  border-radius: 50%;
  position: absolute;
  top: 66px;
  left: -15px;
}

.month ul {
  padding-left: 38px;
  width: 100%;
}

.month ul li {
  font-weight: 400;
  font-size: 20px;
  margin: 0 30px 0 0;
  color: #7b5743;
}

.right_month h3 {
  padding-left: 40px;
}

.right_month_detail {
  margin-left: 40px;
}

.img_wrapper {
  padding: 0 18px 18px 0;
  margin-bottom: 30px;
}

.img_wrapper p {
  font-size: 20px;
  margin: 0 0 5px 25px;
  color: #7B5743;
}

.img_wrapper img {
  border-radius: 20px;
  box-shadow: 18px 18px 0px 0 #C9AA94;
}


/* The Specific Style of Each Season */

.spring {
  height: 1471px;
  background-color: #7B57431A;
}

.summer {
  height: 1715px;
  background-color: #fbf0de;
}

.autumn {
  height: 1794px;
  background-color: rgba(123,87,67,10%);
}

.winter {
  height: 1210px;
  background-color: #fbf0de;
}


/* Style of Spring */

.april {
  top: 50px;
}

.april_list {
  height: 24px;
  width: 259px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_wrapper {
  height: 100px;
  padding: 10px 50px 0 0;
  display: flex;
  justify-content: flex-end;
}

.april button {
  width: 193px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #ab8a72;
}

.shirokaki {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.shirokaki .shirokaki_smartphone {
  display: none;
}

.shirokakitowa_wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.shirokakitowa {
  width: 382px;
  height: 171px;
  border-radius: 10px;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #553116;
  background-color: #AB8A7233;
  display: flex;
  justify-content: center;
  align-items: center;
}

.may {
  top: 250px;
  left: 50%;
}

.teishoku_wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.may_list {
  width: 120px;
  height: 24px;
}

.teishokutowa {
  width: 299px;
  height: 94px;
  border-radius: 10px;
  margin: 20px 20px 0 0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #553116;
  background-color: #AB8A7233;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step_gakkyu_shirokaki {
  display: flex;
  justify-content: flex-end;
}


/* Style of Summer */

.june {
  top: 50px;
}

.tougarashi {
  margin: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}

.noukahoumon {
  margin: 100px 0;
}

.satoyamahozen {
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
}

.july {
  top: 300px;
  left: 50%;
}

.july_list {
  margin-bottom: 80px;
}

.wasedadetambo {
  display: flex;
  justify-content: flex-end;
}

.august {
  top: 900px;
  left: 50%;
}

.nethari {
  margin-top: 140px;
  display: flex;
  justify-content: center;
}


/* Style of Autumn */

.september {
  top: 50px;
}

.step_gakkyu_inekari {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.october {
  top: 150px;
  left: 50%;
}

.october_list {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.october_list div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bucket_ine {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.november {
  top: 700px;
}

.wasedasai {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}


/* Style of Winter */

.december {
  top: 100px;
}

.shukakusai {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.message {
  width: 40%;
  height: 420px;
  position: absolute;
  top: 180px;
  left: 50%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 70px;
  color: #553116;
  display: flex;
  justify-content: center;
}

.message p {
  padding: 0 2.5%;
}

.invitation {
  width: 80%;
  position: absolute;
  top: 751px;
  display: flex;
  justify-content: center;
}

.invitation p {
  width: 868px;
  height: 188px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  color: white;
  background-color: #c9aa94;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message .month_name_wrapper {
  display: none;
}

.message .right_month_circle {
  display: none;
}


.center_line {
  width: 3px;
  height: 5707px;
  position: absolute;
  top: 373px;
  left: 50%;
  background-color: #553116;
}


/* Style for Smartphones */

@media (max-width: 800px) {
  /* Style of Header */
  header {
    height: 47px;
    padding: 10px 4% 0 4%;
  }
  .logo {
    width: 130px;
    height: 40px;
  }
  .logo img {
    width: 34px;
    height: 37px;
    margin-right: 9px;
  }
  .logo_text {
    width: 84px;
    height: 32px;
  }
  .Japanese_logo {
    width: 75px;
    height: 23px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0.3em;
  }
  .English_logo {
    width: 84px;
    height: 11px;
    font-weight: 500;
    font-size: 9px;
    line-height: 10.89px;
    letter-spacing: 0.3em;
  }
  header nav ul li {
    display: none;
  }

  /* Style of h1 title */
  .title {
    height: 82px;
  }
  .title h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0.2em;
  }

  /* The Common Style in All Seasons */
  .season h2 {
    height: 98px;
    font-weight: 400;
    font-size: 54px;
    line-height: 97.56px;
    letter-spacing: 0.1em;
    text-align: right;
    margin: 10px 0;
    padding: 0 38px;
  }
  .season_months_wrapper {
    padding: 0 38px;
    position: static;
  }
  .month {
    width: 100%;
    position: static;
  }
  .month_name_wrapper {
    padding: 0 0 10px 0;
  }
  .month_name_wrapper h3 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 0 20px;
  }
  .month ul {
    height: 18px;
    margin: 14px 0 10px 0;
  }
  .month ul li {
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
  }
  .left_month_circle {
    width: 18px;
    height: 18px;
    top: 31px;
    left: -9px;
  }
  .right_month_circle {
    width: 18px;
    height: 18px;
    top: 31px;
    left: -9px;
  }
  .right_month_detail {
    margin: 0;
    height: 612px;
  }
  .img_wrapper p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  /* The Specific Style of Each Season */
  .spring {
    height: 1470px;
  }
  .summer {
    height: 1737px;
  }
  .autumn {
    height: 1749px;
  }
  .winter {
    height: 1318px;
  }

  /* Style of Spring */
  .april {
    height: 698px;
  }
  .april_list {
    width: 201px;
  }
  .button_wrapper {
    height: 60px;
    padding: 0;
  }
  .april button {
    width: 128px;
    height: 29px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .taokoshi {
    height: 217px;
    display: flex;
    justify-content: center;
  }
  .taokoshi img {
    width: 233px;
    height: 174px;
  }
  .shirokaki {
    height: 217px;
    align-items: center;
    padding: 0;
  }
  .shirokaki .shirokaki_pc {
    display: none;
  }
  .shirokaki .shirokaki_smartphone {
    display: inline;
  }
  .shirokaki .img_wrapper {
    margin: 0;
    padding: 0;
  }
  .shirokakitowa_wrapper {
    height: 120px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shirokakitowa {
    width: 265px;
    height: 86px;
    font-size: 13px;
    line-height: 14.18px;
    letter-spacing: 0.1em;
  }
  .may {
    height: 654px;
  }
  .teishoku_wrapper {
    flex-direction: column;
    margin-bottom: 7px;
  }
  .teishokutowa_p_wrapper {
    display: flex;
    justify-content: right;
  }
  .teishokutowa {
    width: 237px;
    height: 57px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 0;
  }
  .step_gakkyu_shirokaki {
    height: 216px;
    margin: 7px 0 7px 20px;
    display: flex;
    justify-content: left;
  }
  .step_gakkyu_shirokaki img {
    width: 230px;
    height: 172.42px;
  }
  .taue {
    height: 255px;
    display: flex;
    justify-content: right;
  }
  .taue img {
    width: 160px;
    height: 213.33px;
  }

  /* Style of Summer */
  .summer h2 {
    height: 77px;
    margin: 0;
  }
  .june {
    height: 913px;
  }
  .tougarashi {
    height: 259px;
    margin: 20px 0 39px 0;
    display: flex;
    justify-content: center;
  }
  .tougarashi img {
    width: 160px;
    height: 213.38px;
  }
  .noukahoumon {
    height: 214px;
    margin: 39px 0 49px 20px;
  }
  .noukahoumon img {
    width: 230px;
    height: 172.5px;
  }
  .satoyamahozen {
    height: 249px;
    padding: 0;
    margin: 49px 20px 41px 0;
  }
  .satoyamahozen img {
    width: 160px;
    height: 208.44px;
  }
  .july {
    height: 407px;
  }
  .wasedadetambo {
    height: 257px;
    justify-content: center;
    margin: 30px 0 36px 0;
  }
  .wasedadetambo img {
    width: 160px;
    height: 213.33px;
  }
  .july .right_month_detail {
    height: auto;
  }
  .august {
    height: 340px;
  }
  .nethari {
    height: 215px;
    margin: 26px 0 57px 0;
  }
  .nethari img {
    width: 230px;
    height: 172.42px;
  }
  .august .right_month_detail {
    height: auto;
  }

  /* Style of Autumn */
  .autumn h2 {
    height: 100px;
    margin: 20px 0 0 0;
  }
  .september {
    height: 353px;
  }
  .step_gakkyu_inekari {
    height: 253px;
    margin: 26px 0 32px 0;
  }
  .step_gakkyu_inekari img {
    width: 160px;
    height: 213.43px;
  }
  .october {
    height: 903px;
  }
  .october .right_month_detail {
    height: auto;
  }
  .october ul {
    width: 194px;
    height: 41px;
    margin: 16px 0 30px 0;
  }
  .october_list {
    justify-content: center;
  }
  .october_list div {
    margin: 0;
  }
  .october_list li {
    margin: 0;
  }
  .satoyamainekari {
    height: 168px;
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: center;
  }
  .satoyamainekari img {
    width: 230px;
    height: 129px;
  }
  .bucket_ine {
    height: 253px;
    margin: 50px 0 44px 0;
  }
  .bucket_ine img {
    width: 160px;
    height: 213.33px;
  }
  .dakkoku {
    height: 216px;
    margin: 44px 0 43px 0;
    display: flex;
    justify-content: center;
  }
  .dakkoku img {
    width: 230px;
    height: 172.42px;
  }
  .november {
    height: 373px;
  }
  .wasedasai {
    height: 254px;
    margin: 28px 0 49px 0;
  }
  .wasedasai img {
    width: 160px;
    height: 213.43px;
  }

  /* Style of Winter */
  .winter h2 {
    height: 55px;
    margin: 10px 0;
  }
  .winter .season_months_wrapper {
    height: 1243px;
    display: flex;
    flex-direction: column;
  }
  .december {
    height: 360px;
    display: flex;
    flex-direction: column;
  }
  .december ul {
    margin: 16px 0 0 0;
  }
  .shukakusai {
    height: 215px;
    margin: 32px 0 37px 0;
  }
  .shukakusai img {
    width: 230px;
    height: 172.42px;
  }
  .message {
    width: 100%;
    height: 457px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .message .month_name_wrapper {
    height: 8px;
    border-bottom: none;
    border-top: solid 1px #553116;
    padding: 0;
    display: inline;
    position: static;
  }
  .message p {
    width: 90%;
    height: 414px;
    font-size: 15px;
    line-height: 46px;
    margin: 0;
  }
  .message span {
    display: inline-block;
  }
  .invitation {
    position: static;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .invitation p {
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 58px;
    padding: 0 5%;
    display: inline;
  }
  .invitation span {
    display: inline-block;
  }
  .center_line {
    width: 1px;
    height: 5823px;
    top: 179px;
    left: 38px;
  }
}

/* <!-- 農楽塾の一年ここまで --> */