html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Noto Sans", serif;
}

img {
  border: 0;
}

body,
nav,
section,
header,
main,
footer,
h1,
h2,
p,
ul,
li,
dl,
dt,
dd,
div {
  margin: 0;
  padding: 0;
}

.gallery h1 {
  padding: 40px 0 15px 0;
}

.gallery-jumpbtn {
  margin-top: 70px;
}

/* Style of Header */

header {
height: 123px;
padding: 33px 5% 0 5%;
background-color: #fbf0de;
color: #553116;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.logo {
width: 302px;
height: 90px;
display: flex;
flex-direction: row;
}

.logo img {
width: 87px;
height: 90px;
margin-right: 30px;
}

.logo_text {
width: 195px;
height: 90px;
}

.Japanese_logo {
margin: 0;
font-size: 45px;
font-weight: 130;
font-family: 'Inter', sans-serif;
line-height: 54px;
letter-spacing: 0.3em;
}

.English_logo {
margin: 0;
font-size: 20px;
font-weight: 400;
font-family: 'Inter', sans-serif;
line-height: 24.2px;
letter-spacing: 0.3em;
}

header nav ul {
display: flex;
flex-direction: row;
}

header nav ul li {
margin-left: 30px;
font-size: 14px;
font-weight: 400;
list-style: none;
}

header nav ul li a {
color: #553116;
text-decoration: none;
}

body * {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

.main-title{
  padding-top: 20px;
  background: #FBF0DE;
  aspect-ratio: 7 / 6;
}

.mainimg{
  position: relative;
  margin-bottom: 6%;
}

.mainimg img{
  width: 70%;
  border-radius: 0px 20px 20px 0px;
}


.mainimg h1{
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 0 30px;
  text-align: center;
  white-space: nowrap;
  display: block;
  width: 30%;
  height: 76px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  color: #553116;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 76px;
}

.concept{
  position: relative;
  margin-left: auto;
  border-radius: 30px 0px 0px 30px;
  background: #327F09;
  width: 65%;
  height: 20%;
}

.main-content{
  background: #FFF;
}

.content-title{
  margin-left: 5%;
  margin-top: 80px;
  text-align: center;
  width: 15%;
  border-bottom: #553116 solid 1px;
  white-space: nowrap;
  color: #553116;
  font-family: Inter;
  font-size: 30px;
  letter-spacing: 3px;
}

.content-title h3{
  font-weight: 300;
  margin-bottom: 0px;
}

.content-text{
  margin: 50px auto 60px auto;
  width: 80%;
  color: #553116;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 60px; /* 333.333% */
  letter-spacing: 1.8px;
}

.concept-text{
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.concept-text-title{
  width: 60%;
  border-bottom: #fff solid 1px;
  text-align: center;
}

.concept-text h2{
  color: #FFF;
font-family: Inter;
font-size: 30px;
font-weight: 300;
letter-spacing: 3px;
margin-bottom: 0;
white-space: nowrap;
}

.concept-text p{
  color: #FFF;
font-family: Inter;
font-size: 18px;
font-weight: 300;
letter-spacing: 1.8px;
margin-top: 10px;
margin-left: 20px;
}

.backto-link{
  text-decoration: none;
}

.backtolist{
  background: #FBF0DE;
  height: auto;
  padding-top: 140px;
  padding-bottom: 140px;
}

.backtolist-button{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backtolist-button p{
  color: #553116;
font-family: Inter;
font-size: 24px;
font-weight: 300;
letter-spacing: 4.8px;
margin-right: 20px;
}

.arrow{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #553116 1px solid;
}

.arrow p{
  font-size: 30px;
  margin: 50% auto;
  transform: translateY(-50%);
  color: #553116;
}

.backtolist-button:hover .arrow p{
  color: #FFF;
}

.backtolist-button:hover .arrow{
  background-color: #553116;
}

.link_block {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #327f09;
}
.link_group_1 {
  position: absolute;
  top: 16%;
  left: 10%;
  width: 36%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.inside_the_page {
  width: 35%;
}
.to_Top,
.link_item_1,
.link_item_2,
.link_item_3 {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  line-height: 220%;
  letter-spacing: 0.2em;
}
.link_blank {
  display: none;
}
.to_Top a {
  font-size: 17px;
}
.link_item_1 a {
  margin-left: 9%;
  font-size: 14px;
}
.link_item_2 a {
  font-size: 14.5px;
}
.outside_the_page {
  width: 50%;
}
.link_logo {
  position: absolute;
  top: 23%;
  left: 45%;
  right: 45%;
}
.link_group_2 {
  position: absolute;
  top: 25%;
  left: 65%;
  right: 20%;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100px;
}
.link_item_3 {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: 0.3em;
  margin-bottom: 11%;
}
.link_SNS {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

footer {
  height: 220px;
  text-align: center;
  animation: bg-change 10s;
  animation-fill-mode: forwards;
}

footer p {
  padding-top: 72px;
  padding-bottom: 54px;
  color: #327f09;
  font-family: Inter;
  font-size: 32px;
  font-weight: 220;
  letter-spacing: 8px;
}

footer small {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.2px;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}
.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

.fade-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1.5s, transform 1.5s;
}

.fade-right.active {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 275px) {
  .mainimg h1 {
    font-size: calc(0.625rem + ((1vw - 2.75px) * 1.2158));
    min-height: 0vw;
  }
}

@media (max-width: 350px) {
  .mainimg h1{
    width: 35%;
  }
}

@media screen and (max-width: 450px) {
  footer p {
    font-size: 20px;
  }
}

@media screen and (min-width: 275px) and (max-width:500px){
  .mainimg h1{
    top: 40%;
    left: 35%;
    width: 40%;
    height: 30px;
    font-size: 8px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px){
  .main-title{
    aspect-ratio: 6 / 7;
  }

  .mainimg img{
    width: 75%;
    margin-bottom: 3%;
    margin-top: 5%;
  }

  .concept{
    height: 28%;
    width: 75%;
  }

  .content-title{
    margin-left: 8%;
    width: 25%;
    color: #553116;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 1.6px;
  }

  .content-title h3{
    margin-bottom: 0px;
    font-weight: 300;
  }

  .content-text{
    margin-top: 20px;

    color: #553116;
  font-family: Inter;
  font-size: 13px;
  font-weight: 300;
  line-height: 50px; /* 384.615% */
  letter-spacing: 0.39px;
  }

  .concept-text{
    left: 15%;
  }

  .concept-text-title{
    margin: 0 auto;
  }
}

@media screen and (min-width: 501px) and (max-width: 850px){
  .mainimg h1{
    width: 40%;
    height: 50px;
    line-height: 50px;
    left: 40%;
  }
}

@media screen and (max-width: 750px){
  .concept-text-title{
    width: 45%;
  }

  .concept-text h2{
    color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;

  }

  .concept-text p{
    color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.2px;
  }

  .backtolist{
    padding-top: 50px;
    padding-bottom:50px;
  }
  
  .backtolist-button p{
    color: #553116;
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 4.8px;
  margin-right: 20px;
  }
  
  .arrow{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #553116 1px solid;
  }

  .arrow p{
    font-size: 20px;
    margin: 50% auto;
    transform: translateY(-50%);
    color: #553116;
  }
}

@media (min-width: 1920px) {
  .mainimg h1 {
    font-size: 30px;
  }
}

@keyframes bg-change {
  /*footerの背景色アニメーション*/
  0% {
    background: #fbf0de;
  }

  100% {
    background: rgba(139, 176, 119, 0.5);
  }
}

