html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Noto Sans", serif;
}

img {
  border: 0;
}

body,
nav,
section,
header,
main,
footer,
h1,
h2,
p,
ul,
li,
dl,
dt,
dd,
div {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0;
}

/* <!-- ●活動内容ここから --> */
.content {
  background: #fbf0de;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.content-wrapper {
  border-radius: 0px 100px 100px 0px;
  background: #8bb077;
  height: 90%;
  margin: 80px 0 80px 0;
  width: 90%;
  /* animation: fadein-left 1.2s; */
}

.content-wrapper h1 {
  margin-top: 65px;
  margin-bottom: 103px;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 9.6px;
  text-align: center;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  height: auto;
}

.content-item1,
.content-item2,
.content-item3 {
  height: 500px;
  width: 330px;
  margin: 10px;
}

.content-item1 p,
.content-item2 p,
.content-item3 p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 37px;
  margin-top: 20px;
}

.content-jumpbtn {
  display: block;
  width: 246px;
  height: 75px;
  border: solid 2px #fff;
  margin: 0 auto 66px auto;
  text-align: center;
  line-height: 75px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 580;
}

.content-jumpbtn:hover {
  background-color: #fff;
  color: #8bb077;
  transition: 0.3s;
}

/*ここからgallery*/
.gallery {
  height: auto;
  width: 100%;
  background: #fbf0de;
  padding-bottom: 95px;
}

.gallery h1 {
  text-align: center;
  color: #553116;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 12px;
  padding: 214px 0 92px 0;
}

.gallery-container {
  margin-inline: auto;
  max-width: 100%;
  position: relative;
}
.swiper {
  max-width: 100%;
}
.swiper-slide img {
  height: 300px;
  object-fit: contain;
  width: 100%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 320px !important; /*paginationの位置が、importantを付けないとデザインの位置に動かなかったため*/
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #553116;
  height: 20px;
  width: 20px;
}

.gallery-jumpbtn {
  position: relative;
  z-index: 1;
  display: block;
  width: 250px;
  height: 75px;
  border: solid 2px #553116;
  margin: 120px auto 0 auto;
  text-align: center;
  line-height: 75px;
  color: #553116;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  transition: 0.3s;
}

.gallery-jumpbtn::before {
  content: "";
  width: 250px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #553116;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.gallery-jumpbtn:hover {
  color: #fff;
}
.gallery-jumpbtn:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

/* ここからfooter */
footer {
  height: 220px;
  text-align: center;
  animation: bg-change 10s;
  animation-fill-mode: forwards;
}

footer p {
  padding-top: 72px;
  padding-bottom: 54px;
  color: #327f09;
  font-family: Inter;
  font-size: 32px;
  font-weight: 220;
  letter-spacing: 8px;
}

footer small {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.2px;
}

@media screen and (max-width: 1250px) {
  .content-wrapper h1 {
    margin: 30px 0 10px 15%;
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 9.6px;
    text-align: left;
  }

  .item-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .content-item1,
  .content-item2,
  .content-item3 {
    display: flex;
    height: auto;
    width: 70%;
    margin: 15px;
    flex-direction: column-reverse;
  }

  .content-item1 img,
  .content-item2 img,
  .content-item3 img {
    border-radius: 5%;
    width: 100%;
    margin: 10px 0 20px 0;
  }

  .content-item1 p,
  .content-item2 p,
  .content-item3 p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    margin-top: 0px;
  }
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}
.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

.fade-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1.5s, transform 1.5s;
}

.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* @keyframes fadein-left {
  
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
   
  }
} */

@keyframes bg-change {
  /*footerの背景色アニメーション*/
  0% {
    background: #fbf0de;
  }

  100% {
    background: rgba(139, 176, 119, 0.5);
  }
}

@media screen and (max-width: 450px) {
  .gallery h1 {
    font-size: 24px;
  }

  .gallery img {
    width: 250px;
    object-fit: contain;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background-color: #553116;
    height: 15px;
    width: 15px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 290px !important; /*paginationの位置が、importantを付けないとデザインの位置に動かなかったため*/
  }

  footer p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .gallery h1 {
    padding: 40px 0 15px 0;
  }

  .gallery-jumpbtn {
    margin-top: 70px;
  }
}

/* <!-- ●活動内容ここまで --> */
